body {
    background-image: linear-gradient(rgba(2, 2, 12, 0.788), rgba(8, 243, 39, 0.190)),
    url("../images/nebula.jpg");
  }
  
  h1 {
    font-size: 80px;
    color: rgb(24, 180, 24);
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
  }

  h2 {
    color: rgb(24, 180, 24);
    font-family: 'Chakra Petch', sans-serif;
  }
  label {
    color: rgb(24, 180, 24);
    font-family: 'Chakra Petch', sans-serif;
  }
  #corGuessed {
    color: rgb(53, 185, 53);
    font-family: 'Chakra Petch', sans-serif;
  }
  #incorGuessed {
    color: rgb(53, 185, 53);
    font-family: 'Chakra Petch', sans-serif;
  }
  p {
    color: rgb(53, 185, 53);
    font-weight: bold;
    font-size: 20px;
    font-family: 'Chakra Petch', sans-serif;
  }
  label {
    background-color: black;
    padding: 10px, 10px, 10px, 10px;
  }
  #wrapper {
    /* Box-model */
    width: 600px;
  
    /* Positioning */
    margin: 50px auto 95px;
  }
  
  #buttons { /* Typography */
    text-align: center;
  }
  
  button {
    width: 100px;
    
    /* Box-model */
    height: 50px;
  }  
  
  #display {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 60px;
    color: rgb(53, 185, 53);
    text-align: center;
    background: rgba(204, 204, 204, 0.336);
    margin-top: -40px;
    margin-bottom: 20px;
  }