body {
    background-image: linear-gradient(rgba(2, 2, 12, 0.788), rgba(8, 243, 39, 0.190)),
    url("../images/nebula.jpg");
  }
  
  h1 {
    font-size: 70px;
    color: rgb(24, 180, 24);
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    margin-top: 20px;
  }

  h2 {
    color: rgb(24, 180, 24);
    background: rgba(68, 65, 65, 0.808);
    font-family: 'Chakra Petch', sans-serif;
    font-style: bold;
    text-align: center;
  }
  label {
    background-color: black;
    color: rgb(24, 180, 24);
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Chakra Petch', sans-serif;
  }
  form {
    text-align: center;
  }
  #corGuessed {
    color: rgb(53, 185, 53);
    font-family: 'Chakra Petch', sans-serif;
  }
  #incorGuessed {
    color: rgb(53, 185, 53);
    font-family: 'Chakra Petch', sans-serif;
  }
  p {
    color: rgb(53, 185, 53);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
  }
  
  #btn-pos {
    text-align: center;
  }

  button {
    height: 50px;
    width: 100px;
    color: rgb(53, 185, 53);
    font-size: 18px;
    font-weight: 700;
    background: rgba(163, 153, 153, 0.808);
    border:rgba(68, 65, 65, 0.911);
    font-family: 'Chakra Petch', sans-serif;
    transition: all .07s ease-in-out; 
  }
  button:hover {
    background-color: rgb(35, 134, 35);
    transform: scale(1.1);
  }  
  
  #display {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 60px;
    color: rgb(53, 185, 53);
    text-align: center;
    background: rgba(68, 65, 65, 0.808);
    margin-top: 10px;
    margin-bottom: 20px;
  }